@model IEnumerable<WebSite.DataLayer.Entities.Blog.BlogGroup>

<div class="single_widgets widget_category">
    <h4 class="title">
        Categorías de artículos
    </h4>
    <hr/>
    <ul>
        @foreach (var item in Model!)
        {
            <li>
                <a asp-controller="Blog" asp-action="Index" asp-route-group="@item.Id" title="@item.Title">
                    @item.Title
                </a>
            </li>          
        }
        <li>
            <a asp-controller="Blog" asp-action="Index" title="Ver todos los artículos...">
                Todos los artículos...
            </a>
        </li>
        
    </ul>
</div>