@model WebSite.DataLayer.Entities.About.About
<div class="article_detail_wrapss single_article_wrap format-standard">

    <div class="article_posts_thumb">
        <span class="img">
            <img class="img-fluid" src="/design/user.jpg" alt="">
        </span>
        <h3 class="pa-name">
            Dreamland2000
        </h3>
        <p class="pa-text">
            @Model!.Summary
        </p>
    </div>

</div>

