
<div class="image-cover hero_banner" style="background:url(/design/banner/homebaner02.jpg) no-repeat;" data-overlay="0">
    <div class="container">

        <h1 class="big-header-capt mb-0">
            Nosotras estamos contigo
        </h1>
        <p class="text-center mb-4">
            Dreamland2000 Consulting Group con un equipo de especialistas y expertos experimentados
        </p>

        @await Component.InvokeAsync(typeof(WebSite.Areas.Spanish.ViewComponents.RealEstateAdvanceSearch12Col))
    </div>
</div>
