@model WebSite.DataLayer.Entities.Blog.Blog
@{
    string[] tagList = Model.Tags!.Split(",");
}

<div class="single_widgets widget_tags">
    <h4 class="title">
        Tags
    </h4>
    <hr/>
    <ul>
        @foreach (var item in tagList)
        {
            <li>
                <a asp-controller="Blog" asp-action="Index" asp-route-search="@item">
                    @item
                </a>
            </li>
        }
    </ul>
</div>