@model WebSite.DataLayer.Entities.About.About
@{
    ViewData["Title"] = "About DreamLand";
    ViewData["MetaDescription"] = "Dreamland Consulting Group with a team of specialists and experienced experts in the field of real estate in Spain";
}


<div class="page-title" style="background:#f4f4f4 url(/english/img/bg.jpg);" data-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
							
                <div class="breadcrumbs-wrap position-relative z-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            About Us
                        </li>
                    </ol>
                    <h2 class="breadcrumb-title">
                        About Us - Who We Are?
                    </h2>
                </div>
							
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="story-wrap explore-content">
                    <h2>
                        @Model.Title
                    </h2>

                    <span class="theme-cl">
                        Learn more about Dreamland2000 Consulting Group
                    </span>

                    <p class="mt-4">
                        @Model.Summary
                    </p>

                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="/design/banner/about.jpg" class="img-fluid rounded" alt="@Model.Title" />
            </div> 
            
            <div class="col-lg-12 col-md-12 mt-4">
                <p class="mb-3">
                    @Html.Raw(Model.Content)
                </p>
            </div>
        </div>
    </div>

</section>


@await Component.InvokeAsync(typeof(WebSite.Areas.Spanish.ViewComponents.Fact12Col))

@await Component.InvokeAsync(typeof(WebSite.Areas.Spanish.ViewComponents.AgentLatestList12Col))

@await Component.InvokeAsync(typeof(WebSite.Areas.Spanish.ViewComponents.TestimonialLatestListSlider12Col))

@await Component.InvokeAsync(typeof(WebSite.Areas.Spanish.ViewComponents.BlogLatestList12Col))