<div class="row">

    <div class="col-xl-2 col-lg-6 col-12">
        <div class="card pull-up">
            <a asp-controller="RealEStateAdminArea" asp-action="Index">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="warning">
                                Real Estate
                            </h3>
                        </div>
                        <div>
                            <i class="fa fa-building warning font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-xl-2 col-lg-6 col-12">
        <div class="card pull-up">
            <a asp-controller="RealEStateProjectAdminArea" asp-action="Index">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="warning">
                                Project
                            </h3>
                        </div>
                        <div>
                            <i class="fa fa-building warning font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-2 col-lg-6 col-12">
        <div class="card pull-up">
            <a asp-controller="AgentAdminArea" asp-action="Index">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="success">
                                Agents
                            </h3>
                        </div>
                        <div>
                            <i class="fa fa-building success font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-2 col-lg-6 col-12">
        <div class="card pull-up">
            <a asp-controller="ServiceAdminArea" asp-action="Index">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="warning">
                                Services
                            </h3>
                        </div>
                        <div>
                            <i class="fa fa-shopping-basket warning font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-2 col-lg-6 col-12">
        <div class="card pull-up">
            <a asp-controller="BlogAdminArea" asp-action="Index">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="warning">
                                Blog
                            </h3>
                        </div>
                        <div>
                            <i class="fa fa-edit warning font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-2 col-lg-6 col-12">
        <div class="card pull-up">
            <a asp-controller="UserAdminArea" asp-action="Index">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="primary">
                                Users
                            </h3>
                        </div>
                        <div>
                            <i class="fa fa-user primary font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>





