
<div class="image-cover hero_banner" style="background:url(/design/banner/homebaner02.jpg) no-repeat;" data-overlay="0">
    <div class="container">

        <h1 class="big-header-capt mb-0">
            We are with you
        </h1>
        <p class="text-center mb-4">
            Dreamland2000 Consulting Group with a team of specialists and experienced experts
        </p>

        @await Component.InvokeAsync(typeof(WebSite.Areas.English.ViewComponents.RealEstateAdvanceSearch12Col))
    </div>
</div>
