@model IEnumerable<WebSite.DataLayer.Entities.RealEstate.RealEstateGroup>


<div class="single_widgets widget_category">
    <h4 class="title">
        انواع املاک
    </h4>
    <hr/>
    <ul>
        @foreach (var item in Model!)
        {
            <li>
                <a asp-controller="RealEstate" asp-action="Grid" asp-route-group="@item.Id" title="@item.Title">
                    @item.Title
                  
                </a>
            </li>          
        }
        <li>
            <a asp-controller="RealEstate" asp-action="Grid" title="همه آگهی های املاک">
                همه املاک. . .
            </a>
        </li>
        
    </ul>
</div>