@model WebSite.DataLayer.Entities.Contact.Contact

<section class="theme-bg call_action_wrap-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="call_action_wrap">
                    <div class="call_action_wrap-head">
                        <h3>
                            آیا نیاز به مشاوره دارید ؟ 
                        </h3>
                        <span>
                            کارشناسان و مشاوران دریملند آماده پاسخگویی به شما می باشند
                        </span>
                    </div>
                    <a asp-controller="Contact" asp-action="Index" class="btn btn-call_action_wrap">
                        با ما تماس بگیرید
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>