@model WebSite.DataLayer.Entities.About.About
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="story-wrap explore-content">

                    <h2>
                        @Model.Title
                    </h2>

                    <span class="theme-cl">
                        Learn more about Dreamland Consulting Group
                    </span>

                    <p class="mt-4">
                        @Model.Summary
                    </p>
                    <a asp-controller="About" asp-action="Index" class="btn theme-bg btn-rounded">
                        About Dreamland
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="/design/banner/about.jpg" class="img-fluid rounded" alt="@Model.Title" />
            </div> 
            
           
        </div>
    </div>

</section>

