@model IEnumerable<WebSite.DataLayer.Entities.RealEstate.RealEstatePhoto>

<section id="html5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="collapse show">
                    <div class="card-body">
                        @await Component.InvokeAsync(typeof(WebSite.Areas.Admin.ViewComponents.TableRealEstatePhotoList), new { list = Model })

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


