<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item d-md-none mr-auto">
                    <a class="nav-link menu-toggle" href="#">
                        <i class="fa fa-ellipsis-v ft-menu font-large-1"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-area="Admin">
                        <img class="brand-logo" alt="modern admin logo" src="/design/logo/Logo02-s.png" style="width: 100%">
                    </a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav float-left">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                            <span class="selected-language"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout" asp-area="English">
                                <i class="fa fa-lock"></i>
                                Sign out
                            </a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="">
                                <i class="fa fa-envelope-o"></i>
                                Persian Website
                            </a>
                            
                            <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="English">
                                <i class="fa fa-envelope-o"></i>
                                English Website
                            </a>
                            
                            <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="Spanish">
                                <i class="fa fa-envelope-o"></i>
                                Spanish Website
                            </a>

                        </div>
                    </li>
                    <li class="dropdown dropdown-notification nav-item">

                    </li>
                    <li class="dropdown dropdown-notification nav-item">

                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
    <div class="navbar-container main-menu-content" data-menu="menu-container">
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">

            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" asp-controller="Home" asp-action="Index" data-toggle="dropdown">
                    <i class="fa fa-television"></i>
                    <span>
                        Home Page
                    </span>
                </a>
                <ul class="dropdown-menu">

                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="User" data-toggle="dropdown">
                            User Panel
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="Admin" data-toggle="dropdown">
                            Admin Panel
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="" data-toggle="dropdown">
                            Persian Website
                        </a>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="English" data-toggle="dropdown">
                            English Website
                        </a>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="Spanish" data-toggle="dropdown">
                            Spanish Website
                        </a>
                    </li>


                </ul>
            </li>


            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" asp-controller="RealEstateAdminArea" asp-action="Index" data-toggle="dropdown">
                    <i class="fa fa-television"></i>
                    <span>
                        Real estate
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="RealEstateAdminArea" asp-action="Index" data-toggle="dropdown">
                            Property List
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="RealEstateProjectAdminArea" asp-action="Index" data-toggle="dropdown">
                            Project List
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" asp-controller="AgentAdminArea" asp-action="Index" data-toggle="dropdown">
                    <i class="fa fa-television"></i>
                    <span>
                        Agents
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="AgentAdminArea" asp-action="Index" data-toggle="dropdown">
                            Agent list
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="AgentAdminArea" asp-action="Create" data-toggle="dropdown">
                            Register a new agent
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="AgentCommentAdminArea" asp-action="Index" data-toggle="dropdown">
                            User comments
                        </a>
                    </li>

                </ul>
            </li>



            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" asp-controller="BlogAdminArea" asp-action="Index" data-toggle="dropdown">
                    <i class="fa fa-television"></i>
                    <span>
                        Blog
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="BlogAdminArea" asp-action="Index" data-toggle="dropdown">
                            List of articles
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="BlogAdminArea" asp-action="Create" data-toggle="dropdown">
                            Register a new article
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" asp-controller="ServiceAdminArea" asp-action="Index" data-toggle="dropdown">
                    <i class="fa fa-television"></i>
                    <span>
                        Services
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="ServiceAdminArea" asp-action="Index" data-toggle="dropdown">
                            List of services
                        </a>
                    </li>

                </ul>
            </li>

            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="fa fa-television"></i>
                    <span>
                        Users
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="UserAdminArea" asp-action="Index" data-toggle="dropdown">
                            User list
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-item" asp-controller="ContactMessageAdminArea" asp-action="Index" data-toggle="dropdown">
                            User messages
                        </a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
</div>
