@model WebSite.Core.ViewModel.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشی کلمه عبور";
    ViewData["MetaDescription"]="بازیابی کلمه عبور و فراموشی کلمه عبور در نیرو بیت اولین پرتال و مجله تخصصی حوزه برق الکترونیک و انرژی";
}

<section class="gray">
    <div class="container">
        <div class="row align-items-start justify-content-center">
            <div class="col-xl-5 col-lg-8 col-md-12">

                <div class="signup-screen-wrap">
                    <div class="signup-screen-single">
                        <div class="text-center mb-4">
                            <h4 class="m-0 ft-medium">
                                بازیابی کلمه عبور
                            </h4>
                        </div>
                        
                        <partial name="_AlertPartial" />

                        <form asp-action="Forgot" method="post" class="submit-form">
                            
                            <input type="hidden" asp-for="Captcha" />

                            <div class="form-group">
                                <label class="mb-1">
                                    شماره موبایل
                                </label>
                                <input asp-for="Mobile" type="text" class="form-control rounded" placeholder="شماره موبایل*">
                                <span asp-validation-for="Mobile" class="alert-danger" style="color: red"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-md full-width theme-bg text-light rounded ft-medium">
                                    ارسال پیامک رمز عبور جدید
                                </button>
                            </div>

                            <div class="form-group text-center mt-4 mb-0">
                                <p class="mb-0">
                                    <a asp-controller="Account" asp-action="LoginBySmsStep1" title="ورود با رمز یکبار مصرف" class="ft-medium text-info">
                                        ورود با رمز یکبار مصرف
                                    </a>
                                    <span> | </span>
                                    <a asp-controller="Account" asp-action="Login" title="ورود به حساب کاربری" class="ft-medium text-info">
                                        ورود به حساب کاربری
                                    </a>
                                    <span> | </span>
                                    <a asp-controller="Account" asp-action="Register" title="ثبت نام در سایت" class="ft-medium text-info">
                                        ثبت نام در سایت
                                    </a>
                                </p>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

