@model WebSite.Core.ViewModel.RealEstate.RealEstateProjectSearchViewModelSpanish

<div class="single_widgets widget_search">
    <h4 class="title">
        Buscar
    </h4>
    <hr/>
    <form asp-controller="RealEstateProject" asp-action="Search" method="post" class="sidebar-search-form">
        <input asp-for="SearchText" type="search" name="search" placeholder="Buscar ...">
        <button type="submit">
            <i class="ti-search"></i>
        </button>
    </form>
</div>