<div class="row">
   
    <div class="col-xl-2 col-lg-6 col-12">
        <div class="card pull-up">
            <a asp-controller="ProfileUserArea" asp-action="Profile">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="success">
                                پروفایل کاربری
                            </h3>
                        </div>
                        <div>
                            <i class="fa fa-user success font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-xl-2 col-lg-6 col-12">
        <div class="card pull-up">
            <a asp-controller="ProfileUserArea" asp-action="ChangePassword">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="warning">
                                تغییر کلمه عبور
                            </h3>
                        </div>
                        <div>
                            <i class="fa fa-key warning font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    
    <div class="col-xl-2 col-lg-6 col-12">
        <div class="card pull-up">
            <a asp-controller="Home" asp-action="Index" asp-area="">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="info">
                                بازگشت به سایت
                            </h3>
                        </div>
                        <div>
                            <i class="fa fa-internet-explorer info font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    

    <div class="col-xl-2 col-lg-6 col-12">
        <div class="card pull-up">
            <a asp-controller="ProfileUserArea" asp-action="ChangePassword">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="danger">
                                خروج
                            </h3>
                        </div>
                        <div>
                            <i class="fa fa-key danger font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

