@model IEnumerable<WebSite.DataLayer.Entities.RealEstate.RealEstateType>


<div class="single_widgets widget_category">
    <h4 class="title">
         Type
    </h4>
    <hr/>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-controller="RealEstate" asp-action="Grid" asp-route-type="@item.Id" title="@item.Title">
                    @item.Title
                </a>
            </li>          
        }
        <li>
            <a asp-controller="RealEstate" asp-action="Grid" title="View All">
                View All . . .
            </a>
        </li>
        
    </ul>
</div>