@model IEnumerable<WebSite.DataLayer.Entities.Service.ServiceGroup>

<div class="single_widgets widget_category">
    <h4 class="title">
        Dreamland Services
    </h4>
    <hr/>
    <ul>
        @foreach (var item in Model!)
        {
            <li>
                <a asp-controller="Service" asp-action="Index" asp-route-group="@item.Id" title="@item.Title">
                    @item.Title
                </a>
            </li>          
        }
        <li>
            <a asp-controller="Service" asp-action="Index" title="All services...">
                All services...
            </a>
        </li>
        
    </ul>
</div>